---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import AssetGenerator from '../components/AssetGenerator.tsx';
---

<Layout>
  <Header />
  <main class="py-8">
    <AssetGenerator client:load />
  </main>
  <Footer />
</Layout>