---
---

<header class="py-6">
  <div class="flex justify-between items-center">
    <div class="flex items-center">
      <div class="text-3xl">🎨</div>
      <div class="ml-3 font-semibold text-lg text-soft-black">App Asset Generator</div>
    </div>
    <nav>
      <ul class="flex gap-6">
        <li>
          <a 
            href="https://github.com/lumamontes/app-asset-generator" 
            target="_blank" 
            rel="noopener noreferrer"
            class="text-gray-600 hover:text-gray-900"
          >
            GitHub
          </a>
        </li>
        <li>
          <a 
            href="https://developer.apple.com/design/human-interface-guidelines/app-icons" 
            target="_blank" 
            rel="noopener noreferrer"
            class="text-gray-600 hover:text-gray-900"
          >
            Apple Guidelines
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>